/* RECIPE PAGES */

main {
  margin-bottom: 0;
}

#daftar-makanan {
  font-size: 2rem;
  text-align: center;
  margin: 20px 0;
}

#food-search {
  display: block;
  margin: 0 auto 1rem;
  width: 100%;
  max-width: 400px;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  /* grid-template-rows: repeat(3, 1fr); */
  gap: 1rem;
}

.kotak {
  border-radius: 20px;
  margin: 10px;
  padding: 20px;
  height: fit-content;
  background-color: rgb(255, 220, 130);
  text-align: center;
}

.kotak p {
  font-weight: bold;
  font-size: 2rem;
  margin: 20px;
}

.kotak button {
  font-weight: bold;
  padding: 10px 25px;
  border-radius: 20px;
  border: 1px solid black;
  background-color: gray;
  color: yellow;
  transition: 0.5s;
}

.kotak button:hover {
  background-color: #816540;
  cursor: pointer;
}
.kotak img {
  width: 100%;
  height: 30rem;
  object-fit: cover;
  object-position: center;
  border-radius: 20px;
}

@media (max-width: 920px) {
  /* RECIPES PAGE */

  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }

  .kotak p {
    font-size: 1.1rem;
  }

  .kotak img {
    width: 100%;
    height: 10rem;
  }

  .content {
    font-size: 1.5rem;
  }
}

@media (max-width: 640px) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 1rem;
  }
}

@media (max-width: 480px) {
  .grid-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .kotak {
    width: 100%;
    max-width: 400px;
    height: fit-content;
  }
}

/* EACH FOOD RECIPE PAGE */
.content-list {
  margin-left: 20px;
}
