@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    background: url('/assets/img/background.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

/* HEADER STYLING */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.3rem 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .1);
    backdrop-filter: blur(50px);
    z-index: -1;
}

.logo {
    font-size: 2rem;
    color: #FFF;
    font-weight: 700;
    padding: 10px;
}

.navbar ul {
    display: inline-flex;
    gap: 10px;
    white-space: nowrap;
}

.navbar ul li {
    position: relative;
}

.navbar ul li ul.dropdown-menu {
    position: absolute;
    margin-top: 2.55rem;
    padding: 1.3rem 10%;
    left: -0.4rem;
    top: 100%;
    text-align: center;
    opacity: 0;
    pointer-events: none;
    transform: translateY(20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: rgba(0, 0, 0, .1);
    backdrop-filter: blur(50px);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

.navbar ul li.open ul.dropdown-menu {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
}

.navbar ul li a {
    padding: 10px 25px;
    font-size: 1.15rem;
    color: #FFF;
    font-weight: 500;
    border-radius: 50px;
    text-align: center;
    transition: 0.2s;
}

#dropdown-icon {
    color: #FFF;
}

.navbar ul li a:hover {
    color: #11101b;
    background: #FFF;
}

.navbar ul li a:hover #dropdown-icon {
    color: #11101b;
    transform: rotate(180deg);
    transition: color 0.2s, transform 0.2s;
}

.icons {
    position: absolute;
    right: 5%;
    font-size: 2.8rem;
    color: #FFF;
    cursor: pointer;
    display: none;
}

/* MAIN PAGE STYLING */
main {
    display: block;
    position: absolute;
    top: 6.9em;
    left: 0;
    width: 100vw;
}

.banner {
    height: 87.2vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-label {
    color: white;
    background: rgba(0, 0, 0, .1);
    backdrop-filter: blur(50px);
    padding: 50px;
    border-radius: 50px;
    text-align: center;
}

.banner-title {
    font-size: 2rem;
    font-weight: 700;
}

.banner-button > button {
    background: rgba(0, 0, 0, .1);
    color: white;
    font-size: 1rem;
    font-weight: 500;
    border: 3px solid greenyellow;
    margin-top: 20px;
    padding: 10px 25px;
    border-radius: 50px;
    transition: 0.2s;
}

.banner-button > button:hover {
    background: greenyellow;
    border: 3px solid greenyellow;
    color: black;
    cursor: pointer;
}

.content {
    background-color: greenyellow;
    margin: 0;
    padding: 20px;
}

.judul, .isi {
    margin: 2rem;
    text-align: justify;
}

.floated-img {
    float: right;
    width: 20rem;
    margin: 1rem 2rem auto;
    border-radius: 12px;
}

/* BREAKPOINTS */
@media (max-width: 1120px) {
    .header {
        padding: 1.3rem 5%;
    }
}

@media (max-width: 920px) {
    .icons {
        display: inline-flex;
        cursor: pointer;
    }

    .icons #close-icon {
        display: none;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100vw;
        height: 0;
        background: rgba(0, 0, 0, .1);
        backdrop-filter: blur(50px);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
        transition: 0.5s;
        overflow: hidden;
    }

    .navbar.active {
        height: 24rem;
    }

    .navbar ul {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: fit-content;
        margin: 2rem auto;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
    }

    .navbar.active ul {
        opacity: 1;
    }

    .navbar ul li a {
        font-size: 1.1rem;
        margin: 1.5rem 0;
    }

    .banner {
        height: 84vh;
    }

    .banner-label {
        width: 70vw;
    }
<<<<<<< Updated upstream
=======
  }

  /* RECIPES PAGE */

  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }

  .kotak {
    border-radius: 20px;
    margin: 10px;
    padding: 20px;
    background-color: rgb(255, 220, 130);
    text-align: center;
  }

  .kotak p {
    font-weight: bold;
    margin: 20px;
  }

  .kotak button {
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 20px;
    border: 1px solid black;
    background-color: gray;
    color: yellow;
    transition: 0.5s;
  }

  .kotak button:hover {
    background-color: green;
  }

  .kotak img {
    width: 100%;
    height: 30rem;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
  }

  @media (max-width: 800px) {
    .kotak img {
      width: 100%;
      height: 10rem;
    }
  }

  .content {
    font-size: 1.5rem;
  }

  /* BATAGOR */
  .content-list {
    margin-left: 20px;
  }

  footer {
    background-color: #27ae60;
    color: white;
    padding: 20px;
    text-align: center;
  }
}

/* ABOUT CSS */

.judul1{
  text-align: left;
  margin: 2rem;
>>>>>>> Stashed changes
}