@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    margin: 3rem 5rem;
}

h1 {
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

img {
    width: 100%;
    height: auto;
    max-height: 500px;
    object-fit: cover;
    margin-bottom: 20px;
    border-radius: 10px;
}

article {
    margin-bottom: 40px;
    text-align: justify;
}

#return-btn {
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #FCEF91;
    color: #000;
    font-size: 1.2rem;
    font-weight: 600;
    border: 3px solid #FCEF91;
    padding: 10px 25px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#return-btn:hover {
    background-color: #fff;
    color: #111;
}

.prevnext_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 0;
}

.prev_btn:only-child {
    margin-right: auto;
}

.next_btn:only-child {
    margin-left: auto;
}

.prevnext_container a {
    background-color: #ffa400;
    text-decoration: none;
    color: #000;
    font-weight: 600;;
    border: none;
    padding: 10px 25px;
    cursor: pointer;
    margin: 5px;
    border: 3px solid #ffc745;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.prevnext_container a:hover {
    background-color: #fff;
}